
html {
    overflow-x: hidden;
}
section {
    padding: 25px 0;
}
body {
    overflow: hidden;
}
/* ----------------Simran's section start */
.dumpling_recipe_main .dumpling_recipe_header h2{
text-align: center;
margin-bottom: 40px;
font-size: 50px;
}
.dumpling_recipe_main .dumpling_recipe_img img{
width: 100%;
}
.dumpling_recipe_main .dumpling_recipe_text p{
  font-size: 19px;
  margin-bottom: 25px;
    }
/* ----------------Simran's section end */
