
html {
    overflow-x: hidden;
}
section {
    padding: 25px 0;
}
body {
    overflow: hidden;
}
/* ----------------Simran's section start */
.dumpling_recipe_main .dumpling_recipe_header h2{
text-align: center;
margin-bottom: 40px;
font-size: 50px;
}
.dumpling_recipe_main .dumpling_recipe_img img{
width: 100%;
}
.dumpling_recipe_main .dumpling_recipe_text p{
  font-size: 19px;
  margin-bottom: 16px;
    }

    /* effect-clean*/


    .item{
        width: 400px;
        height: 400px;
        background-color: white;
        position: relative;
        display: inline-block;
        /* margin: 1% 2% 1% 0%; */
        overflow: hidden;
        box-shadow: 2px 3px 10px #dddddd;
      }
      
      .item .overlay{
        color: #000;
        width: 100%;
        height: 100%;
        background-color:  #ffffff82;
        opacity: 0;
        transition: all 0.5s ease;
        position: absolute;
        top: 0; 
        bottom: 0;
      }



.clean .overlay span:nth-child(1){
    position: absolute;
    left: 30%;
    top: 40%;
    font-size: 50px;
    font-weight: bold;
    font-family: coustard;
    transform: translateX(-50%);
  }
  
  .clean .overlay span:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  
  .clean .overlay span:nth-child(3){
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 60%;
    left: 0;
  }
  
  .clean .overlay:hover{
    opacity: 0.93;
  }
  
  .clean .overlay:hover span:nth-child(1){
    animation: slide 0.4s;
  }
  
  .clean .overlay:hover span:nth-child(2){
    animation: slide 0.7s;
  }
  
  .clean .overlay:hover span:nth-child(3){
    animation: line 0.5s forwards;
  }
  
  @keyframes slide{
    0%   {transform:translateX(-10%);}
    100% {transform:translateX(-50%);}
  }
  
  @keyframes line{
    0%   {width: 0;}
    100% {width: 50%}
  }

/* ----------------Simran's section end */
