
html {
    overflow-x: hidden;
}
section {
    padding: 25px 0;
}
body {
    overflow: hidden;
}
/* ----------------Simran's section start */
.dumpling_recipe_main .dumpling_recipe_header h2{
text-align: center;
margin-bottom: 40px;
font-size: 50px;
}
.dumpling_recipe_main .dumpling_recipe_img img{
width: 100%;
}
.dumpling_recipe_main .dumpling_recipe_text p{
  font-size: 19px;
  margin-bottom: 16px;
    }
.dumpling_recipe_main .heading_part {
    background-color: rgb(99 21 21) !important;
    color: white;
}
.dumpling_recipe_main .discription_part {
    background-color: #fff4f4;
}
.dumpling_recipe_main .scrollbar {
    margin-left: 30px;
    float: left;
    height: 330px;
    background: #f5f5f5;
    overflow-y: scroll;
    margin-bottom: 25px;
    margin: 0 !important;
    padding: 0 !important;
}
.dumpling_recipe_main .force-overflow {
    min-height: 450px;
}
.dumpling_recipe_main #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.dumpling_recipe_main #style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}
.dumpling_recipe_main #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(99 21 21);
}
.dumpling_recipe_main .dumpling_recipe_btn_inner {
    text-align: center;
}
.dumpling_recipe_main .dumpling_recipe_btn_inner button {
    background-color: rgb(99 21 21);
    padding-right: 20px;
    padding-left: 20px;
    border: none;
}
    /* effect-clean*/


    .item{
        height: 400px;
        background-color: white;
        position: relative;
        display: inline-block;
        overflow: hidden;
        box-shadow: 2px 3px 10px #dddddd;
      }
      
      .item .overlay{
        color: #000;
        width: 100%;
        height: 100%;
        background-color:  #ffffff82;
        opacity: 0;
        transition: all 0.5s ease;
        position: absolute;
        top: 0; 
        bottom: 0;
      }



.clean .overlay span:nth-child(1){
    position: absolute;
    left: 30%;
    top: 40%;
    font-size: 50px;
    font-weight: bold;
    font-family: coustard;
    transform: translateX(-50%);
  }
  
  .clean .overlay span:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  
  .clean .overlay span:nth-child(3){
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 60%;
    left: 0;
  }
  
  .clean .overlay:hover{
    opacity: 0.93;
  }
  
  .clean .overlay:hover span:nth-child(1){
    animation: slide 0.4s;
  }
  
  .clean .overlay:hover span:nth-child(2){
    animation: slide 0.7s;
  }
  
  .clean .overlay:hover span:nth-child(3){
    animation: line 0.5s forwards;
  }
  
  @keyframes slide{
    0%   {transform:translateX(-10%);}
    100% {transform:translateX(-50%);}
  }
  
  @keyframes line{
    0%   {width: 0;}
    100% {width: 50%}
  }

/* ----------------Simran's section end */

/* ----------------Salma's section start */
.lasagna_heading{
  text-align: center;
  margin: 30px;
  font-family: Verdana,sans-serif;

}
.lasagna_img_column {
  position: relative;
  width: 50%;
}
.lasagna_img_column:hover .lasagna_img{
  opacity: 0.3;
}
.lasagna_img_column:hover .lasgna_img_shadow{
  opacity: 1;
}
.lasagna_img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 10px 10px 5px -7px rgba(188,195,217,0.64);
}
.lasgna_img_shadow {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lasagna_img_text {
  color:black;
  font-family: Brush Script MT ;
  font-size: 30px;
}
.lasagna_info_column{
  font-size: 16px;
  font-family: Verdana,sans-serif;
}
/*Table design*/
.lasagna_table{
  box-shadow: 3px 5px 4px 2px rgba(161,165,212,0.71);
  margin-top: 10px;
}
.lasagna_table_head{
  background-color: rgb(21, 4, 82);
  color: white;
}
.lasagna_table_body{
  background-color: #e9eaf3;
}
